<select class="form-select" aria-label="Select Country">
    <option value="">Select Country</option>
    @foreach (var item in Model)
    {
        <option value="@item">@item</option>
    }


</select>